Kansai Airport Directions
To go from Kansai Airport to our Airbnb, here is a google map link https://goo.gl/maps/EP4jtGM2cXv.

Kyoto Station Directions
To go from Kyoto Station to our Airbnb, here is a google map link https://goo.gl/maps/EP4jtGM2cXv.

Wifi Information
The wifi instructions are in the welcome book, sorry there is no pocket wifi (portable wifi).

Japan Hosting Regulation Changes
Japan government added new laws for airbnb hosts in june requiring all hosts to obtain license to host, don’t worry we received our license in september and have been hosting guests since then with no issues.

No Hot Water
The hot water machine only has so much water per day, please try to limit your shower time, there should be enough hot water for 2 people per day. It refills every night.

Check in Time and Check out Time
You can drop your bags off at 11am, the check in time is 4pm and check out time is 10am.

Leaving Luggage and Early Bag Drop Off
You can drop your bags off at 11am and take the key from the small table in the room, the door is unlocked, please lock the room when you leave.

Which Room or Apartment
The instruction book has your room number and floor number and check-in instructions.

Address
The address to our Airbnb is 12345 something st.